{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        default value
        {% endblock %}
    </title> <!-- yea title dikh raha hai isko close nahi kia tha -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <nav>This is navbar</nav>
    {% block content %}{% endblock %}
</body>
</html>



<!-- 
aise kaise ho sakta h

vo mujhe nahi pata
lekin hua tha aisa
-->